# Provisioning Intermediate Files
infra/provisioning/building/.terraform/
infra/provisioning/deployment/.terraform/

# Session Intermediate Files
**/__pycache__/**
SHARED/*
logs/runtime.log

# Terraform state files
# *.tfstate
# *.tfstate.backup
# *.lock.hcl

# Private files
infra/provisioning/aurora-key-pair.pem
runtime/session/output.glb
*_bak*.hip
*_bak*.hda
/samples/backup
*.DS_Store
