# Provisioning Intermediate Files
infra/provisioning/building/.terraform/

# Batch Intermediate Files
infra/provisioning/deployment/batch/.terraform/
infra/provisioning/deployment/batch/lambda_function.zip


# Session Intermediate Files
**/__pycache__/**
SHARED/*
logs/runtime.log

# Terraform state files
*.tfstate
*.tfstate.backup
*.lock.hcl

# Private files
infra/provisioning/aurora-key-pair.pem