# Force shell scripts to always use LF line endings
*.sh text eol=lf
*.hcl text eol=lf
*.tfstate text eol=lf
*.lock.info text eol=lf
*.tfstate.backup text eol=lf
*.hda filter=lfs diff=lfs merge=lfs -text
*.hip filter=lfs diff=lfs merge=lfs -text
*.bgeo.sc filter=lfs diff=lfs merge=lfs -text
